// 100	Extra light
// 200	Light or Thin
// 400	Regular or Normal
// 500	Medium
// 600	Semibold or Demibold
// 700	Bold
// 800	Black or Extra Bold
// 900	Extra black

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}
